@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #2274a5;
  --color-primary-content: #fff;
  --color-base-100: #080b12;
}
